openapi: 3.0.0
info:
  title: JoyMaaS API
  version: "1.0"
  description: JoyMaaS 大模型 API 文档
servers:
  - url: https://api.joymaas.com
    description: 生产环境
paths:
  /v1/chat/completions:
    post:
      operationId: createChatCompletion
      summary: 创建对话补全
      description: 创建一个对话补全。给定一组消息列表，模型返回一个补全响应。支持流式返回和函数调用。兼容 OpenAI Chat Completions API。
      x-callout:
        variant: info
        title: 兼容 OpenAI 格式
        body: 本接口兼容 OpenAI Chat Completions API，已有的 OpenAI 客户端只需替换 base_url 和 api_key。
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, messages]
              properties:
                model:
                  type: string
                  description: 模型 ID，如 doubao-pro-256k。完整列表见 /v1/models
                  example: doubao-pro-256k
                messages:
                  type: array
                  description: 对话消息数组，每项含 role 和 content
                  items:
                    schema:
                      type: object
                      properties:
                        role:
                          type: string
                          description: 消息角色，system / user / assistant
                          enum: [system, user, assistant]
                        content:
                          type: string
                          description: 消息内容
                stream:
                  type: boolean
                  default: false
                  description: 是否使用流式返回（SSE）
                temperature:
                  type: number
                  default: 1.0
                  description: 采样温度，范围 0-2，越大越发散
                max_tokens:
                  type: integer
                  description: 最大输出 token 数
                top_p:
                  type: number
                  default: 1.0
                  description: 核采样，与 temperature 二选一
                tools:
                  type: array
                  description: 函数调用工具列表
                response_format:
                  type: object
                  description: 返回格式控制，如 {"type":"json_object"}
      responses:
        '200':
          description: 成功返回补全
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 本次补全的唯一 ID
                  model:
                    type: string
                    description: 实际生成响应的模型 ID
                  choices:
                    type: array
                    description: 补全结果数组，通常长度为 1
                    items:
                      schema:
                        type: object
                        properties:
                          message:
                            type: object
                            description: 含 role 和 content 的消息对象
                          finish_reason:
                            type: string
                            description: 停止原因，stop / length / tool_calls
                            enum: [stop, length, tool_calls]
                  usage:
                    type: object
                    description: token 用量统计
      x-codeSamples:
        - label: cURL
          code: |
            curl -X POST https://api.joymaas.com/v1/chat/completions \
              -H "Authorization: Bearer $JOYMAAS_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "doubao-pro-256k",
                "messages": [
                  {"role": "system", "content": "你是一个简洁的助手"},
                  {"role": "user", "content": "用一句话解释什么是向量"}
                ],
                "stream": false
              }'
        - label: Python
          code: |
            import requests

            resp = requests.post(
                "https://api.joymaas.com/v1/chat/completions",
                headers={
                    "Authorization": f"Bearer {JOYMAAS_API_KEY}",
                    "Content-Type": "application/json",
                },
                json={
                    "model": "doubao-pro-256k",
                    "messages": [
                        {"role": "system", "content": "你是一个简洁的助手"},
                        {"role": "user", "content": "用一句话解释什么是向量"},
                    ],
                },
            )
            print(resp.json())
        - label: Node
          code: |
            const resp = await fetch("https://api.joymaas.com/v1/chat/completions", {
              method: "POST",
              headers: {
                "Authorization": `Bearer ${process.env.JOYMAAS_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                model: "doubao-pro-256k",
                messages: [
                  { role: "system", content: "你是一个简洁的助手" },
                  { role: "user", content: "用一句话解释什么是向量" },
                ],
              }),
            });
            console.log(await resp.json());
        - label: Go
          code: |
            // 用 net/http 构造 POST 请求
            // body := `{"model":"doubao-pro-256k","messages":[...]}`
            // req, _ := http.NewRequest("POST", "https://api.joymaas.com/v1/chat/completions", strings.NewReader(body))
            // req.Header.Set("Authorization", "Bearer "+apiKey)
            // 参见完整 SDK 示例
      x-internal:
        body: 内部限流策略：单 Key 默认 1000 RPM / 2000000 TPM，超出返回 429。SLA：P99 < 2s，可用性 99.9%。内部容量水位看内部监控大盘 joymaas-api-capacity。

  /v1/embeddings:
    post:
      operationId: createEmbedding
      summary: 创建文本向量
      description: 将输入文本转为向量，用于相似度检索、聚类、分类等场景。兼容 OpenAI Embeddings API 格式。
      x-callout:
        variant: info
        title: 兼容 OpenAI 格式
        body: 本接口兼容 OpenAI Embeddings API，已有 OpenAI 客户端只需替换 base_url 和 api_key。
      x-internal:
        body: 内部限流策略：单 Key 默认 2000 RPM，超出返回 429。SLA：P99 < 1s，可用性 99.9%。容量水位看内部监控大盘 joymaas-api-capacity。
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, input]
              properties:
                model:
                  type: string
                  description: 模型 ID，如 embedding-3。完整列表见 /v1/models
                  example: embedding-3
                input:
                  type: string
                  description: 要向量化的文本，单个字符串或字符串数组
                  example: 机器学习是研究如何让计算机自动学习的学科
                encoding_format:
                  type: string
                  default: float
                  description: 返回向量的格式，float 或 base64
                dimensions:
                  type: integer
                  description: 输出向量的维度，部分模型支持降维（如 embedding-3 支持 512/1024/2048）
                user:
                  type: string
                  description: 终端用户标识，用于用量统计与滥用追踪
      responses:
        '200':
          description: 成功返回向量
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    description: 固定值 list
                  data:
                    type: array
                    description: 向量结果数组，每项含 index 与 embedding
                  model:
                    type: string
                    description: 实际生成向量的模型 ID
                  usage:
                    type: object
                    description: token 用量统计，含 prompt_tokens 与 total_tokens
      x-codeSamples:
        - label: cURL
          code: |
            curl -X POST https://api.joymaas.com/v1/embeddings \
              -H "Authorization: Bearer $JOYMAAS_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "embedding-3",
                "input": "机器学习是研究如何让计算机自动学习的学科"
              }'
        - label: Python
          code: |
            import requests

            resp = requests.post(
                "https://api.joymaas.com/v1/embeddings",
                headers={
                    "Authorization": f"Bearer {JOYMAAS_API_KEY}",
                    "Content-Type": "application/json",
                },
                json={
                    "model": "embedding-3",
                    "input": "机器学习是研究如何让计算机自动学习的学科",
                },
            )
            print(resp.json())
        - label: Node
          code: |
            const resp = await fetch("https://api.joymaas.com/v1/embeddings", {
              method: "POST",
              headers: {
                "Authorization": `Bearer ${process.env.JOYMAAS_API_KEY}`,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                model: "embedding-3",
                input: "机器学习是研究如何让计算机自动学习的学科",
              }),
            });
            console.log(await resp.json());

  /v1/completions:
    post:
      operationId: createCompletion
      summary: 创建文本补全
      description: 根据给定提示生成文本补全。支持采样参数控制生成行为。兼容 OpenAI Completions API。
      x-callout:
        variant: warning
        title: 已推荐改用 Chat Completions
        body: 本接口为传统补全接口，新接入推荐使用 /v1/chat/completions（多轮对话能力更强）。本接口保留用于兼容旧客户端。
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, prompt]
              properties:
                model:
                  type: string
                  description: 模型 ID，如 doubao-pro-256k
                  example: doubao-pro-256k
                prompt:
                  type: string
                  description: 补全的提示文本，可以是字符串或字符串数组
                  example: 写一首关于秋天的诗
                max_tokens:
                  type: integer
                  default: 16
                  description: 生成最大 token 数，超出生成会截断
                temperature:
                  type: number
                  default: 1.0
                  description: 采样温度 0-2，越大越发散，与 top_p 二选一
                top_p:
                  type: number
                  default: 1.0
                  description: 核采样，只从累积概率达 top_p 的 token 中采样
                n:
                  type: integer
                  default: 1
                  description: 生成多少条候选补全
                stream:
                  type: boolean
                  default: false
                  description: 是否流式返回（SSE）
                logprobs:
                  type: integer
                  description: 返回每个 token 的对数概率，最多 5
                echo:
                  type: boolean
                  default: false
                  description: 是否在输出中回显 prompt
                stop:
                  type: string
                  description: 停止生成的标志，遇到该字符串时停止
                user:
                  type: string
                  description: 终端用户标识，用于用量统计与滥用追踪
      responses:
        '200':
          description: 成功返回补全
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 补全唯一 ID
                  object:
                    type: string
                    description: 固定值 text_completion
                  created:
                    type: integer
                    description: 创建时间戳
                  model:
                    type: string
                    description: 实际生成模型 ID
                  choices:
                    type: array
                    description: 补全结果数组，每项含 text/finish_reason
                  usage:
                    type: object
                    description: token 用量统计
      x-codeSamples:
        - label: cURL
          code: |
            curl -X POST https://api.joymaas.com/v1/completions \
              -H "Authorization: Bearer $JOYMAAS_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "doubao-pro-256k",
                "prompt": "写一首关于秋天的诗",
                "max_tokens": 100,
                "temperature": 0.7
              }'
        - label: Python
          code: |
            import requests

            resp = requests.post(
                "https://api.joymaas.com/v1/completions",
                headers={
                    "Authorization": f"Bearer {JOYMAAS_API_KEY}",
                    "Content-Type": "application/json",
                },
                json={
                    "model": "doubao-pro-256k",
                    "prompt": "写一首关于秋天的诗",
                    "max_tokens": 100,
                    "temperature": 0.7,
                },
            )
            print(resp.json())

  /v1/moderations:
    post:
      operationId: createModeration
      summary: 内容审核
      description: 对输入文本进行内容审核，识别是否包含有害、暴力、色情等违规内容。返回各分类的命中标志与置信度分数。
      x-callout:
        variant: info
        title: 分类说明
        body: 返回的 categories 与 category_scores 覆盖 hate/threatening/self-harm/sexual/violence 等标准分类，category_scores 为 0-1 的置信度。
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                input:
                  type: string
                  description: 要审核的文本内容
                  example: 我今天很开心
                model:
                  type: string
                  default: moderation-latest
                  description: 审核模型，默认 moderation-latest
      responses:
        '200':
          description: 审核结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 审核任务唯一 ID
                  model:
                    type: string
                    description: 使用的审核模型
                  results:
                    type: array
                    description: 审核结果数组，每项含 flagged/categories/category_scores
                    items:
                      schema:
                        type: object
                        properties:
                          flagged:
                            type: boolean
                            description: 是否命中任一违规分类
                          categories:
                            type: object
                            description: 各分类命中标志（true/false）
                            properties:
                              hate:
                                type: boolean
                                description: 仇恨言论
                              threatening:
                                type: boolean
                                description: 威胁
                              self-harm:
                                type: boolean
                                description: 自残
                              sexual:
                                type: boolean
                                description: 性相关
                              violence:
                                type: boolean
                                description: 暴力
                          category_scores:
                            type: object
                            description: 各分类置信度分数（0-1）
                            properties:
                              hate:
                                type: number
                                description: 仇恨言论置信度
                              threatening:
                                type: number
                                description: 威胁置信度
                              self-harm:
                                type: number
                                description: 自残置信度
                              sexual:
                                type: number
                                description: 性相关置信度
                              violence:
                                type: number
                                description: 暴力置信度
      x-codeSamples:
        - label: cURL
          code: |
            curl -X POST https://api.joymaas.com/v1/moderations \
              -H "Authorization: Bearer $JOYMAAS_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "input": "我今天很开心"
              }'
        - label: Python
          code: |
            import requests

            resp = requests.post(
                "https://api.joymaas.com/v1/moderations",
                headers={
                        "Authorization": f"Bearer {JOYMAAS_API_KEY}",
                        "Content-Type": "application/json",
                    },
                json={
                    "input": "我今天很开心",
                },
            )
            print(resp.json())

